*{
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #E7ECEF;
}

/* header */
header{
    padding: 2%;
    background-color: #23456C;
    color: #E7ECEF;
}

header a {
    text-decoration: none;
    color: #E7ECEF;
}

header h2{
    font: italic bold calc(2px + 2.5vw) "times", Arial, Serif;
    /* padding: 1%; */
}

#on-guard{
    padding-right:5%;
}

#ready{
    padding-left: 7%;
}

header h1{
    font: bold calc(2px + 4vw) "times", Arial, Serif;
}

header p{
    font: calc(2px + 1.1vw) "times", Arial, Serif;
    color:#C9E2F7
}

/* navigation */
nav{
    background-color: #6096BA;
    padding: 3%;
}

nav ul{
    /* Display: flex;
    Flex-direction: row; */
    List-style: none;
    Padding-left: 0;

}

nav ul li{
    Display: inline;
    Padding: 2%;
}

nav ul li a{
    text-decoration: none;
    color: #292928;
    font: calc(2px + 1.5vw) "times", Arial, Serif;
}

/* main */
main{
    width: 80%;
    padding: 3%;
    margin: auto;
    
}

main h2{
    text-align: center;
    font: calc(2px + 2.5vw) "times", Arial, Serif;
}

main h3{
    padding-top: 3%;
    font: calc(2px + 1.6vw) "times", Arial, Serif;
}

main p{
    color: black;
    font: calc(2px + 1.3vw) "times", Arial, Serif;
    padding: 1%;
}

main iframe{
    max-width: 50vw;
    max-height: 50vh;
} 

/* footer */
footer{
    background-color: #23456C;
    padding: 1%;
}

footer p, footer a{
   font: calc(2px + 1.1vw) "times", Arial, Serif;
    color:#C9E2F7
}