*{
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #E7ECEF;
}

/* header */
header{
    padding: 2%;
    color: #E7ECEF;
    background-color: #23456C;
}

header a {
    text-decoration: none;
    color: #E7ECEF;
}

header h2{
    font: italic bold calc(2px + 2.5vw) "times", Arial, Serif;
    /* padding: 1%; */
}

#on-guard{
    padding-right:5%;
}

#ready{
    padding-left: 7%;
}

header h1{
    font: bold calc(2px + 4vw) "times", Arial, Serif;
}

header p{
    font: calc(2px + 1.1vw) "times", Arial, Serif;
    color:#C9E2F7
}

/* navigation */
nav{
    background-color: #6096BA;
    padding: 3%;
}

nav ul{
    /* Display: flex;
    Flex-direction: row; */
    List-style: none;
    Padding-left: 0;

}

nav ul li{
    Display: inline;
    Padding: 2%;
}

nav ul li a{
    text-decoration: none;
    color: #292928;
    font: calc(2px + 1.5vw) "times", Arial, Serif;
}

/* main */
main{
    width: 80%;
    padding: 3%;
    margin: auto;
    text-align: left;
}

main h1{
    text-align: center;
    font: calc(2px + 3vw) "times", Arial, Serif;
}

main h2{
    text-align: center;
    font: calc(2px + 2.5vw) "times", Arial, Serif;
}

main p{
    color: black;
    font: calc(2px + 1.3vw) "times", Arial, Serif;
    padding: 1%;
}

main ul li{
    font: calc(2px + 1.3vw) "times", Arial, Serif;
}

main .disciplines-info{
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

main .disciplines-text{
    width: 50%;
}

main .disciplines-img{
    width: 50%;
    padding: 3%;
}

main .disciplines-img p{
    font: calc(2px + 1.1vw) "times", Arial, Serif;
}

main img{
    max-width: 40vw;
}

/* comments */
#comment-area{
    background-color: #C9E2F7;
    width: 100%;
    text-align: left;
    padding: 2%;
}

#comment-content{
    display: block;
    margin: auto;
    width: 80%;
}

#comment-area h2{
    font: bold calc(2px + 2.5vw) "times", Arial, Serif;
    text-align: center;
    padding-bottom: 1%;
}

#comment-content h3{
    font: bold calc(2px + 1.6vw) "times", Arial, Serif;
    text-align: center;
    padding-bottom: 2%;
}

/* user input */
label{
    font: italic calc(2px + 1.1vw) "times", Arial, Serif;
    color: #23456C;
    padding: 1%;
}

#nameInput{
    background-color: #E7ECEF;
    border: 2px solid #6096BA;
    color: #292928;
    font: calc(2px + 1.3vw) "times", Arial, Serif;
    width: 25%;
    padding: 1%;
    margin-bottom: 2%;
}

#nameInput:focus{
    outline: none;
    border: 2px solid #23456C;
}

#nameInput::placeholder{
    color: #6096BA;
    font: italic calc(2px + 1.3vw) "times", Arial, Serif;
}


/* add comment */
#commentInput{
    background-color: #E7ECEF;
    border: 2px solid #6096BA;
    color: #292928;
    font: calc(2px + 1.3vw) "times", Arial, Serif;
    width: 90%;
    height: 20vh;
    padding: 1%;
}


#commentInput:focus{
    outline: none;
    border: 2px solid #23456C;
}

#commentInput::placeholder{
    color: #6096BA;
    font: italic calc(2px + 1.3vw) "times", Arial, Serif;
}

/* submit button */
#submitComment{
    background-color: #6096BA;
    color: #E7ECEF;
    border: none;
    border-radius: 10%;
    font: calc(2px + 1.3vw) "times", Arial, Serif;
    padding: 1%;
}

#submitComment:hover{
    background-color: #416b87;
    color: #E7ECEF;
    transition-duration: 0.5s;
}


/* comment section */
#commentSection{
    background-color: #E7ECEF;
    border: 2px solid #23456C;
    font: calc(2px + 1.3vw) "times", Arial, Serif;
    width: 90%;
    margin-top: 2%;
}

#commentSection th{
    font: bold calc(2px + 1.3vw) "times", Arial, Serif;
    color: #6096BA;
    margin: 1%;
}

#commentSection td{
    padding: 2% 0 2% 0;
}


/*quiz question */
#disc-quiz{
    /* padding: 0 2% 1% 2%; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
}
 
#quiz-h2{
    text-align: center;
    padding-top: 3%;
}

#disc-options{
    width: 50%;
}

#quiz-img{
    width: 50%;
    padding-left: 7%;
}

#quiz-options button{
    font: calc(2px + 1.1vw) "times", Arial, Serif;
    display: block;
    margin: 5% auto;
    padding: 2%;
    width: 45%;

    border: 2px solid #23456C;
    background-color: #C9E2F7;
    color: #23456C;
}

#quiz-options button:hover{
    background-color: #99b7d1;
    transition-duration: 0.5s;
}


#quiz-img img{
    max-width: 30vw;
}

h3{
    font: calc(2px + 1.6vw) "times", Arial, Serif;
}

h4{
    font: calc(2px + 1.3vw) "times", Arial, Serif;
    text-align: center;
    /* color: #910707; */
}

#ans-reveal{
    padding: 2%;
}

/* quiz results */
#quiz-results{
    font: calc(2px + 1.3vw) "times", Arial, Serif;
    width: 40%;
    margin: auto;
}

#quiz-results progress{
    width: 80%;
}


/* footer */
footer{
    background-color: #23456C;
    padding: 1%;
}

footer p, footer a{
   font: calc(2px + 1.1vw) "times", Arial, Serif;
    color:#C9E2F7
}